# Defined Projects
code_smsto
code_smsto/*
code_emailvalidation/*
code_emailverifier/*

# logs
docker/logs/*



# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
#.rocketeer/
