# Defined Projects
code_smsto
code_smsto/*
code_emailvalidation/*
code_emailverifier/*
code_msms/*
code_msas/*
sms.to-MS-AS/*
.idea

# logs
docker/logs/*

# Docker files
.env
docker-compose.yml

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
#.rocketeer/
/code_smsto/log.log
!/code_smsto/log.log
/nbproject/private/